@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    justify-content: space-evenly;
}

.main-content{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
    width: 60%;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb);
    justify-content: space-between;
    flex-direction: column;
}

.glass{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 90vh;
    width: 20%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.portret{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.img{
    position: relative;
    top: 0px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    border: 3px solid rgba(255,255,255,0.7);
    width: 100px;
    height: 100px;
    overflow: hidden;
    margin: 1rem 0;
}

.img img{
    position: absolute;
    width: 10rem;
    height: 10rem;
    top: -1rem;
}

.nav{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-evenly;
}

.night-day{
    position: absolute;
    right: 1rem;

}

.section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem;
}

.section img{
    height: 30px;
}

p{
    font-size: 18px;
    color: #426696;
}

.contact{
    margin: 1rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.nav-glass{
    position: relative;
    display: flex;
    height: 8vh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.main-glass{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    height: 80vh;
    width: 100%;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
}

.main-glass content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    height: 80%;
    width: 80%;
}

.page{
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-between;
    margin: 1rem;
}

.page .circle,.number{
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255,255,255,0.3);
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.box{
    width: 45%;
    margin: 1rem 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    background: rgba(255,255,255,0.3);
    padding: 1rem;
    border-radius: 1rem;
}

.box img{
    width: 100%;
    border-radius: 1rem;
}

.box p{
    font-size: 20px;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    text-align: center;
}