@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: url("../images/background.png") no-repeat center center fixed;
    font-family: 'Open Sans', sans-serif;
    background-size: cover;
    color: white;
    min-height: 100vh;
}
.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
}
.title{
    position: absolute;
    top: -60px;
    font-size: 28px;
}
.boxes_con{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 1440px;
    text-align: center;
}
.box_layout{
    cursor: pointer;
    width: 252px;
    margin: 0 45px;
}
.box{
    position: relative;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(3px);
    width: 252px;
    height: 306px;
    border-radius: 70px;
    overflow: hidden;
    margin-bottom: 20px;
}

.box img{
    position: absolute;
    left: 0;
    bottom: -20px;
    width: 250px;
}
p{
    font-size: 32px;
}